In [1]:
import pandas as pd
import os

WDIR = os.path.abspath(os.path.dirname(""))

In [20]:
filename = "fhv_tripdata_2019-03.parquet"
uri="https://d37ci6vzurychx.cloudfront.net/trip-data/fhv_tripdata_2019-03.parquet"
# df = pd.read_parquet(os.path.join(WDIR, filename))
df = pd.read_parquet(uri)

In [22]:
df.dtypes

dispatching_base_num              object
pickup_datetime           datetime64[us]
dropOff_datetime          datetime64[us]
PUlocationID                     float64
DOlocationID                     float64
SR_Flag                           object
Affiliated_base_number            object
dtype: object

In [35]:
data_type_mapping = {
    'green': {
        'VendorID': pd.Int64Dtype(),
        'store_and_fwd_flag': str,
        'RatecodeID': pd.Int64Dtype(),
        'PULocationID': pd.Int64Dtype(),
        'DOLocationID': pd.Int64Dtype(),
        'passenger_count': pd.Int64Dtype(),
        'trip_distance': float,
        'fare_amount': float,
        'extra': float,
        'mta_tax': float,
        'tip_amount': float,
        'tolls_amount': float,
        # 'ehail_fee': float,
        'improvement_surcharge': float,
        'total_amount': float,
        'payment_type': pd.Int64Dtype(),
        'trip_type': pd.Int64Dtype(),
        'congestion_surcharge': float, 
        # 'lpep_pickup_datetime': pd.Int64Dtype(),
        # 'lpep_dropoff_datetime': pd.Int64Dtype()
    },
    'yellow': {
        'VendorID': pd.Int64Dtype(),
        'passenger_count': pd.Int64Dtype(),
        'trip_distance': float,
        'RatecodeID': pd.Int64Dtype(),
        'store_and_fwd_flag': str,
        'PULocationID': str,
        'DOLocationID': str,
        'payment_type': str,
        'fare_amount': float,
        'extra': float,
        'mta_tax': float,
        'tip_amount': float,
        'tolls_amount': float,
        'improvement_surcharge': float,
        'total_amount': float,
        'congestion_surcharge': float,
        # 'tpep_pickup_datetime': pd.Int64Dtype(), 
        # 'tpep_dropoff_datetime': pd.Int64Dtype()
        # 'trip_type': pd.Int64Dtype(),
        # 'ehail_fee': float,
    },
    'fhv': {
        'dispatching_base_num': str,
        'PULocationID': pd.Int64Dtype(),
        'DOLocationID': pd.Int64Dtype(),
        # 'PULocationID': 'Int64',
        # 'DOLocationID': 'Int64',
        'SR_Flag': pd.Int64Dtype(),
        # 'pickup_datetime': pd.Int64Dtype(),
        # 'dropOff_datetime': pd.Int64Dtype()
    }
}

parse_date_mapping = {
    'green': ['lpep_pickup_datetime', 'lpep_dropoff_datetime'],
    'yellow': ['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
    'fhv': ['pickup_datetime', 'dropOff_datetime']
}

In [38]:
service = 'fhv'
year = '2019'
month = '03'
file_name = f"{service}_tripdata_{year}-{month}.csv.gz"

base_url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download'

# read it back into a parquet file
# df = pd.read_csv(os.path.join(WDIR, "data", file_name), compression='gzip', dtype=data_type_mapping[service], parse_dates=parse_date_mapping[service])
request_url = f"{base_url}/{service}/{file_name}"
print(data_type_mapping[service])
df_csv_gzip = pd.read_csv(request_url, compression='gzip', dtype=data_type_mapping[service], parse_dates=parse_date_mapping[service], dtype_backend="pyarrow")

{'dispatching_base_num': <class 'str'>, 'PULocationID': Int64Dtype(), 'DOLocationID': Int64Dtype(), 'SR_Flag': Int64Dtype()}

In [39]:
df_csv_gzip.dtypes

dispatching_base_num               object
pickup_datetime            datetime64[ns]
dropOff_datetime           datetime64[ns]
PUlocationID               int64[pyarrow]
DOlocationID               int64[pyarrow]
SR_Flag                             Int64
Affiliated_base_number    string[pyarrow]
dtype: object

In [40]:
df_csv_gzip.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00013,2019-03-01 00:09:15,2019-03-01 00:26:20,264,264,<NA>,B00013
1,B00013,2019-03-01 00:00:08,2019-03-02 00:30:33,264,264,<NA>,B00013
2,B00013,2019-03-01 00:55:38,2019-03-01 01:03:13,264,264,<NA>,B00013
3,B00013,2019-03-01 00:56:30,2019-03-01 01:00:43,264,264,<NA>,B00013
4,B00014,2019-03-01 00:53:03,2019-03-01 00:59:46,264,264,<NA>,B00014

In [41]:
df_csv_gzip[df_csv_gzip.DOlocationID.isna()].DOlocationID

6910       <NA>
9459       <NA>
16492      <NA>
21962      <NA>
34022      <NA>
           ...
1471425    <NA>
1471426    <NA>
1472289    <NA>
1472873    <NA>
1472961    <NA>
Name: DOlocationID, Length: 1104, dtype: int64[pyarrow]

In [26]:
df_csv_gzip.DOlocationID = df_csv_gzip.DOlocationID.astype('Int64')

In [ ]:
"IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer"